{% extends 'schemas/base.html' %}

{% block title %}
New schema
{% endblock %}

{% block content %}
    <div style="margin: 30px 60px 100px">
        <form id="form-container" method="POST" action="{% url 'schemas:create' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    <h3>New schema</h3>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

            {% for field in schema_form %}
                <div>{{ field.errors }}</div>
                <div>{{ field.label }}</div>
                <div style="margin: 0 0 20px 0">{{ field }}</div>
            {% endfor %}

            <h3>Schema column</h3>
            {{ column_formset.management_form }}
            {% for column_form in column_formset %}
                <div class="column-form form-row">
                {% for field in column_form %}
                    <div>{{ field.errors }}</div>
                    {% if field.label != 'Id' %}
                        <div style="margin: 0 10px 15px 0">{{ field.label }}</div>
                    {% endif %}
                    <div style="margin: 0 20px 15px 0">{{ field }}</div>
                {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary" id="add-form" type="button">Add column</button>
        </form>
    </div>

    <script>
        let columnForm = document.querySelectorAll(".column-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = columnForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = columnForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)
            
            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}
